.App {
  text-align: center;
}

.grid-container {
  display: grid;
  text-align: center;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: auto;
  grid-gap: 2px;
  background-color: #fff;
  color: #fff;
  padding-left: 150px;
  padding-right: 150px;
}

.grid-item {
  background-color: #444;
  color: #444;
  padding: 1px;
  font-size: 100%;
  text-align: center;
  height: 3em;
}